$sectionBackGround: #d1ebfe;

.question {
    display: block;
    padding: 1rem;
    padding-top: 2rem;
    .header {
        background: $sectionBackGround;
        padding: 1.6rem;
        border-radius: 8px;
        overflow: hidden;
        .header_title,
        .header_count {
            display: block;
            position: relative;
            padding-left: 2rem;
            font-size: 1.1rem;
            font-weight: bold;
            &::before {
                content: "";
                display: block;
                width: 1.4rem;
                height: 1.4rem;
                position: absolute;
                left: 0;
                top: 0.1rem;
                background: url(../../res/topic.png) no-repeat;
                background-size: contain;
            }
        }
        .header_count {
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: normal;
            color:#0091ff;
            &::before {
                background: url(../../res/timer.png) no-repeat;
                background-size: contain;
            }
            b {
                color: #f99a09;
                padding: 0 .1rem;
            }
        }
    }
    .detail {
        display: block;
        background: $sectionBackGround;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 1.5rem;
        >h6 {
            margin: 0;
            font-size: 1rem;
            color:#0f0f0f;
            font-weight: normal;
            padding: 1.6rem 1.6rem .8rem 1.6rem;
        }
        ul, ul li {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul {
            background: #fff;
            padding:  1rem 1.6rem 1.6rem 1.6rem;
            li {
                margin-top: .8rem;
            }
            [class*="radio"]>label {
                display: block;
                padding-left: 2rem;
                position: relative;
                >label {
                    position: absolute;
                    left: 0;
                    top: -.1rem;
                }
                span {
                    font-size: 1rem;
                    color:#121212;
                }
            }
        }
    }
}
.btnNext {
    display: block;
    min-width: 40vw;
    margin: 0 auto;
    margin-top: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:active {
        background: rgba(255,255,255,.2);
    }
    &:disabled {
        border-color: rgb(223, 223, 223);
        color: rgb(223, 223, 223);
    }
}