.header {
    display: block;
    text-align: center;
    padding-top: .5rem;
    h1 {
        font-family: 思源黑体;
        color: #3C2B10;
        font-size: 1.1rem;
    }
    h2 {
        display: inline-block;
        margin: 0 auto;
        padding: 1rem 0;
        color:#3C2B10;
        background: rgba(255,255,255,.4);
        border-radius: 2rem;
        border: 2px solid #3C2B10;
        font-size: 1.3rem;
        width: 90vw;
    }
}
.stepContainer {
    padding: 2rem 0 4rem 0;
    width: 90vw;
    margin: 0 auto;
    font-family: 思源黑体;
    [class*="Context"] {
        font-size: 1.1rem;
        line-height: 1.6rem;
        text-indent: 2rem;
        color: #3D3D3D;
    }
}
[class*="LabelAlignRight"] [class*="lineInputLabel"] {
    text-align: right !important;
    flex: 0 0 2.4rem !important;
}