.header {
    display: block;
    text-align: center;
    padding-top: .5rem;
    h1 {
        font-family: 思源黑体;
        color: #3C2B10;
        font-size: 1.1rem;
    }
    h2 {
        display: inline-block;
        margin: 0 auto;
        padding: 1rem 0;
        color:#3C2B10;
        background: rgba(255,255,255,.4);
        border-radius: 2rem;
        border: 2px solid #3C2B10;
        font-size: 1.3rem;
        width: 90vw;
    }
}
.stepContainer {
    padding: 2rem 0 4rem 0;
    width: 90vw;
    margin: 0 auto;
    font-family: 思源黑体;
    [class*="Context"] {
        font-size: 1.1rem;
        line-height: 1.6rem;
        text-indent: 2rem;
        color: #3D3D3D;
        [class*="note"] {
            font-style: normal;
            font-size: .9rem;
            text-indent: 2rem !important;
            display: block;
        }
    }
    [class*="questionSplitLine"] {
        border-color: #3C2B10;
        border-top: none;
        margin: 2rem 0;
    }
}
[class*="LabelAlignRight"] [class*="lineInputLabel"] {
    text-align: right !important;
    flex: 0 0 2.4rem !important;
}

.questionOfCheckBoxs {
    $checkboxSize: 16px;
    display: block;
    font-family: 思源黑体;
    * {
        font-family: 思源黑体;
    }
    >h5 {
        font-size: 1rem;
        margin: .8rem 0;
    }
    >label {
        display: block;
        font-size: .9rem;
        color: #fff;
    }
    section {
        display: block;
        padding: .8rem 0;
        label {
            display: block;
            position: relative;
            margin-bottom: .5rem;
            padding-left: 24px;
            input[type="checkbox"] {
                position: absolute;
                left: -3px;
                top: 0px;
                width: $checkboxSize;
                height: $checkboxSize;
                z-index: 3;
                opacity: 0;
            }
            input[type="checkbox"]+span::before,
            input[type="checkbox"]+span::after {
                content: "";
                display: block;
                width: $checkboxSize;
                height: $checkboxSize;
                position: absolute;
                left: 0;
                top: 4px;
                box-sizing: border-box;
                background: #fff;
                z-index: 2;
                border: 1px solid #3D3D3D;
            }
            input[type="checkbox"]+span::after {
                display: none;
                z-index: 3;
                top: 1px;
                content: "√";
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                transform: scaleY(.8);
                border-color: transparent;
                background: transparent;
                font-size: .8rem;
            }
            input[type="checkbox"]:checked+span::after {
                display: block;
            }
            span {
                display: block;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
}
[class*="TestResultTableTitle"] {
    display: block;
    text-align: center;
    margin-bottom: .6rem;
}

[class="TestResultTable"] {
    background: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    border: 1px solid #3D3D3D;
    tr, tr td {
        border: 1px solid #3D3D3D;
        text-align: center;
        padding: .4rem;
        padding-bottom: .6rem;
    }
    thead h4{
        margin: .6rem 0;
    }
    tbody {
        $radioSize: 1.6rem;
        label {
            display: block;
            text-align: center;
            width: $radioSize;
            height: $radioSize;
            margin: 0 auto;
            position: relative;
            font-size: 1rem;
            background: #fff;
            border-radius: 100%;
            overflow: hidden;
            input[type="radio"] {
                position: absolute;
                left: 0;
                top: 0;
                width: $radioSize;
                height: $radioSize;
                opacity: 0;
                box-sizing: border-box;
                margin: 0;
                z-index: 3;
            }
            span {
                position: absolute;
                left: 0;
                top: 0;
                width: $radioSize;
                height: $radioSize;
                line-height: $radioSize;
                text-align: center;
                z-index: 2;
            }
            input[type="radio"]:checked + span::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: $radioSize;
                height: $radioSize;
                background: #38CDFF;
                z-index: -1;
            }
        }
    }
}
[class*="TestSummeryHeader"] tr td {
    font-weight: bold;
}
.step6Input {
    display: block;
    background: rgba(255, 255, 255, 0.53);
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 2rem;
    border: 1px solid #3D3D3D;
    [class*="InputFormArea"] {
        margin: 0 !important;
        width: 100%;
        display: flex;
        >div {
            flex: 0 0 50%;
            box-sizing: border-box;
            padding-right: .6rem;
            >div:first-child{
                margin-top: 0 !important;
            }
            [class*="lineInputLabel"] {
                font-size: .8rem !important;
                width: 78px !important;
                margin-top: 0rem !important;
                line-height: 3.6rem !important;
            }
            input[type="text"] {
                font-size: .8rem !important;
                margin-top: 0 !important;
            }
        }
    }
}
.subTitle {
    margin-top: 0;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
}

.scoreTypeList,
.scoreTypeList li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.scoreTypeList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    font-size: 0;
    li {
        flex: 0 0 2.6rem;
        width: 2.6rem;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
    }
}
.finalScore {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    span {
        flex: 0 0 50%;
        i {
            font-style: normal;
            padding: 0 .5rem;
            text-decoration: underline;
        }
    }
    span:last-child {
        text-align: right;
    }
}
.ocupationResult {
    border: 1px solid #3D3D3D;
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin-top: 1rem;
    *{
        font-family: 思源黑体;
    }
    >h3:first-child {
        margin-top: 0;
    }
    label {
        line-height: 1.6rem;
        i {
            font-style: normal;
            color:#20C7E5;
        }
    }
}
[class*="lastStepTip"] {
    font-weight: bold;
    line-height: 1.6rem;
    margin-top: 2rem;
    p {
        font-size: .8rem;
    }
}