.test {
    display: block;
    padding: 1rem;
    padding-top: 2rem;
    ul,ul li {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul {
        li {
            padding: .4rem;
            border-radius: 3px;
            background: #fff;
            margin-top: .8rem;
            position: relative;
            >div {
                display: block;
                >img {
                    display: block;
                    max-width: 100%;
                    margin: 0 auto;
                    &::after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background: #fff;
                    }
                }
                >span {
                    display: block;
                    padding: .1rem 0;
                    line-height: 1.2rem;
                }
            }
        }
        li:first-child {
            margin-top: 0;
        }
    }
}